a{
  text-decoration: none;

}
.body{
  background-color: #FFF8DC
}

h1{
  text-decoration: none;
  font-size: 30px;
  text-decoration-color: #FF1493;
  text-align: left;
  background:linear-gradient(to bottom right, lightblue, purple)
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding:60px;
    overflow: hidden;
    background: linear-gradient(to bottom right, lightblue, purple);
}

li {
    float: right;
}

li a {
    display: block;
    color: Red;
    text-align: center;
    padding: 0px 14px;
    text-decoration: bold;
    font-size: 25px;
}

li a:hover {
    background-color: #F0FFFF;
}

div.bottomleft1 {
    display: flex;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    color: #000000
}
div.bottomleft2 {
    display: flex;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    color: #000000
}
div.bottomleft3 {
    display: flex;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    color: #000000
}
div.bottomleft4 {
    display: flex;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    color: #000000
}
.story{
  border-style: solid;
  display: center;
  margin: 5px;
}
.img {
    display: flex;
    max-width: 600px;
    min-width: 200px;
    margin-bottom: auto;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.item{
  display: flex;
  margin: 5px;
  border-style: solid;
}


{
