 }
 a{
   text-decoration: none;
 }

.body{
  background-color: #FFF8DC
}

h1{
  text-decoration: none;
  list-style-type: none;
  margin-top: 1%;
  font-size: 200%;
  text-decoration-color: #FF1493;
  text-align: left;
  background:linear-gradient(to bottom right, lightblue, royalblue)
}


li {
    float: right;
    padding-right: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
}

li a {
    display: block;
    color: black;
    text-align: none;
    padding: 0%;
    text-decoration: bold;
    font-size: 50%;
    letter-spacing: 150%;
    margin-right: 150%;
    margin-top: -2%;
}


li a:hover {
    background-color: #BA55D3;
    padding-left: 50%;
}

.article1{
  display: flex;
  text-decoration: none;
  font-size: 5%;
  image-orientation: 30%;
}

div.bottomleft1 {
    display: flex;
    text-decoration: solid;
    position: ;
    bottom: 5%;
    left: 5%;
    font-size-adjust: 250%;
    color: #BA55D3

}

.story{
  border-style: none;
  display: left;
  margin: 5%;
}

.img {
    display: flex;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  position: relative;
  text-align: center;
  color: white;
}


.item{
  display: flex;

  margin: 1%;
  border-style: none;
  margin-bottom: -1%;
}

<script>
</script>

}
