 }
a{
  text-decoration: none;

}
.news{
  text-decoration: none;
}

.body{
  background-color: #FFF8DC
}

h1{
  text-decoration: none;
<<<<<<< HEAD
  font-size: 30pt;
  margin-top: 0pt;
=======
  font-size: 375%;
  margin-top: 0px;
>>>>>>> 9375b5aae5891e04e3f4d0ac26e9478ec84726d7
  text-decoration-color: #FF1493;
  text-align: left;
  background:linear-gradient(to bottom right, lightpink, pink)
}

ul {
    list-style-type: none;
    margin: 0pt;
    padding: 10pt;

    overflow: hidden;
<<<<<<< HEAD
    background: linear-gradient(to bottom right, lightpink, red);
}
=======
    background: linear-gradient(to bottom right, lightblue, purple);
  }

>>>>>>> 9375b5aae5891e04e3f4d0ac26e9478ec84726d7

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: none;
<<<<<<< HEAD
    padding: 0pt 0pt;
=======
>>>>>>> 9375b5aae5891e04e3f4d0ac26e9478ec84726d7
    text-decoration: bold;
    font-size: 25pt;
    letter-spacing: 2pt;
    padding-right: 25pt;
    padding-left: 25pt;
    margin-right: 50pt;
    padding-top: 20pt;
}


li a:hover {
    background-color: #BA55D3;
    padding-bottom: 20px;
    padding-left: 25px;
}

div.bottomleft1 {
    display: flex;
    position: relative;
    bottom: 50px;
    left: 10px;
    font-size: 30px;
    color: #BA55D3

}

<<<<<<< HEAD
.story{
  border-style: none;
  display: left;
  margin: 5pt;
}
=======
>>>>>>> 9375b5aae5891e04e3f4d0ac26e9478ec84726d7
.img {
    display: flex;
}

.container{
  display: flex;
  flex-wrap: wrap;
<<<<<<< HEAD
  margin: 5pt;
=======
  margin: 0px;
>>>>>>> 9375b5aae5891e04e3f4d0ac26e9478ec84726d7
  position: relative;
  text-align: center;
  color: white;
}


.item{
  display: flex;
<<<<<<< HEAD
  margin: 20pt;
=======
  margin: 10px;
>>>>>>> 9375b5aae5891e04e3f4d0ac26e9478ec84726d7
  border-style: none;
  margin-bottom: -40pt;
}

<script>
</script>

}
