 }
 a{
   text-decoration: none;
 }
.title{
  pointer-events: none;

}

p {

}
.body{

}

h1{
  text-decoration: none;
  list-style-type: none;
  padding: 2%;
  font-size: 200%;
  margin-bottom: 1%;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: -1%;
  text-decoration-color: #FF1493;
  text-align: left;
  background:linear-gradient(to top left, #8b008b, #93e1e1);

}



.Home{
  display: flex;
  color: #000000;
  text-decoration: none;
  font-size: 55%;
  padding: 3%;
  margin-top: .5%;
  float: right;
  font-family: "Verdana", Verdana, sans-serif;
}


.News{
  display: flex;
  color: #000000;
  text-decoration: none;
  font-size: 55%;
  padding: 3%;
  margin-top: .5%;
  float: right;
  font-family: "Verdana", Verdana, sans-serif;
}

.Contact{
  display: flex;
  color: #000000;
  text-decoration: none;
  font-size: 55%;
  padding: 3%;
  margin-top: .5%;
  float: right;
  font-family: "Verdana", Verdana, sans-serif;
}

.About{
  display: flex;
  color: #000000;
  text-decoration: none;
  font-size: 55%;
  padding: 3%;
  margin-top: .5%;
  float: right;
  font-family: "Verdana", Verdana, sans-serif;
}



div b:hover {
    background:linear-gradient(to top left, #8b008b, #93e1e1);
      border-radius: 50%;

}





div.bottomleft1 {
    display: flex;
    position: absolute;
    text-decoration: bold;
    left: 5%;
    bottom: 10%;
    font-size: 150%;
    color: white;
    pointer-events: none;
    font-family: "Verdana", Verdana, sans-serif;

}


.container{
  flex-wrap: wrap-reverse;
  padding: .25%;
  margin: .25%;
  padding-bottom: 0%;
  background: black;
  flex: 1;
  flex-shrink: 3;
}

.bigcontainer{
  display: flex;
  flex-wrap: wrap;

}

.item{
  position: relative;
  display: flex;
  color: #000000;
  flex-shrink: 3;
  flex-wrap: wrap;

}


img:hover{
    margin-bottom: 0%;
    opacity: .7;

}

.columncontainer{
  display: flex;
  position: relative;
  padding: .4%;
  margin: 1%;
  padding-bottom: 0%;
  background: black;
}

.columnitem{
  display: flex;
  flex-wrap: wrap;
  color: #000000;
}
.collumbs{
  flex-wrap: wrap;
  column-count:8;
}




<script>
</script>

}
